.App {
  text-align: center;
}

.app-container{
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border-radius: 8px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  background-color: #007bff;
  color: #ffffff;
  border-style: none;
  border-radius: 5px;
  height: 40px;
  width: 120px;
  cursor: pointer;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.form-field label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-field input {
  width: 400px;
  /* max-width: 300px; */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
